.custom-code-block {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 1em;
    overflow: hidden;
    }
    
    .custom-code-block-header {
        position: sticky;
        top: 0;
        background-color: #f7f7f7;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 8px 12px;
        border-bottom: 1px solid #ddd;
        z-index: 10;
        font-size: 0.9em;
        font-weight: bold;
        color: #333;
        button
        {
            padding: 0.25rem;
            display: flex;
        }
    }
    
    .code-block-title {
        font-weight: bold;
        font-size: 0.9rem;
    }
    
    .custom-code-block:hover .custom-code-block-header {
        background-color: #ececec;
    }
  